<!doctype html>

<head>
  <title>Details Page</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <nav>
    <%- include('layout/header-partial') %>
  </nav>

  <main>
    <h2 id = "search-page-title">Details</h2>

    <div class = "container2">
    <% books.forEach(book => { %>
        
        <%- include ('detail-partial') %>

        <hr></hr>
        <div style="clear: both;"></div>
      </div>
    <%})%>
    </div>


  </main>
  <footer>
    <p>&copy 2020, Ashley Casimir and Kim Damalas</p>
  </footer>
</body>
</html>