<!doctype html>

<head>
  <title>New Search Page</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <nav>
    <ul id = "hamburger">
      <li>-----</li>
      <li>-----</li>
      <li>-----</li> 
    </ul>
    <h1>Best Books!</h1>
  </nav>
  <main>
    <!-- Form for Search by Title or Author -->
    <h2 id = "search-page-title">Search by Title or Author</h2>

    <form method = "post" action = "/searches">
      <input id = "search-criteria" type= text name = "userInput" placeholder = "Enter a Title or Author" required>

      <div class = "container">
      <label class = "radio"for = "title">Title ----></label>
      <input  class = "dot" type = "radio"  name = "search" value = "intitle" required>
      </div>

      <div class = "container">
      <label class = "radio"for = "author">Author ----></label>
      <input  class = "dot" type = "radio"  name = "search" value = "inauthor" required>
      </div>

      <div>
      <button id = "search-button" type = "submit"><h3>Search The Google Books API</h3></button>
      </div>
    </form>
  </main>
  <footer>
    <p>&copy 2020, Ashley Casimir and Kim Damalas</p>
  </footer>

</body>
</html>