<!doctype html>

<head>
  <title>New Search Page</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
<!-- Form for Search by Title or Author -->
  <h1>New Search</h1>

  <form method = "post" action = "/new-search">
    <input name = "search" placeholder = "Enter Title or Author" value = "userInput">
    <input type = "radio"  name = "title" value = "intitle">
    <label for = "title">Title</label>
    <input type = "radio"  name = "author" value = "inauthor">
    <label for = "author">Author</label>

    <button type = "submit">Search The Google Books API</button>
  </form>


<!-- Do we need this?     -->
  <script src="server.js"></script>
</body>
</html>