<!doctype html>

<head>
  <title>AC-KD Book App</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <div class = "container3">
    <h1> Welcome!</h1>
    <img id = "book-pile" src = "/book-pile.jpg">
    <h2> With this app, you can search books by Title or Author</h2>

    <div id = "entry-link">
      <a href = "pages/searches/new.ejs" ><h2>Let's Begin</h2></a>
    </div>
  </div>


</body>
</html>