<!doctype html>

<head>
  <title>AC-KD Book App</title>
  <link rel="stylesheet" href = "/styles/reset.css">
  <link rel="stylesheet" href="/styles/styles.css">

</head>

<body>
  <h1>This is fuggin brutal</h1>



<!-- Do we need this?     -->
  <script src="server.js"></script>
</body>
</html>