


.container {
    background-color: rgb(226,226,226);
    margin: 30px auto;
    height: 30px;
    text-align: left;
    padding: 15px;
    width: 80%;
}

.container2 {
    background-color: rgb(226,226,226);
    margin: 30px auto;
    height: 650px;
    text-align: left;
    padding: 15px;
    width: 80%;
    overflow: scroll;
}

.container3 {
    background-color: rgb(226,226,226);
    margin: 30px auto;
    height: 650px;
    text-align: center;
    padding: 15px;
    width: 80%;
}


#hamburger {
    float: right;
}

img {
display: flex;
height: 400px;
margin: 0px auto 20px;
}