


.container {
    background-color: rgb(226,226,226);
    margin: 30px auto;
    height: 30px;
    text-align: left;
    padding: 15px;
    width: 80%;
}

.container2 {
    background-color: rgb(226,226,226);
    margin: 30px auto;
    height: 650px;
    text-align: left;
    padding: 15px;
    width: 80%;
    overflow: scroll;
}

.container3 {
    background-color: rgb(226,226,226);
    margin: 30px auto;
    height: auto;
    text-align: center;
    padding: 15px;
    width: 90%;
}

#savedBooks{
    height: 500px;
    overflow: scroll;
}


#hamburger {
    float: right;
}

img {
display: flex;
height: 400px;
margin: 0px auto 20px;
}

.savedBookImg{
    height: 300px; 
}

@media screen and (min-width: 992px){
    .radioBar {
        display: inline-flex;
        margin: 30px;
        width: 20%;
    }

    .bookImg{
        float: left;
        margin: 0px 50px 80px 0px;
    }

}  
