* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    

h1 {
    padding: 10px 0px;
    font-size: 30px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
}

h2 {
    line-height: 1.5;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h3, p {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

p{
    padding: 30px 0px;
    line-height: 1.5;
}

a{
    color:black;
    text-decoration: none;
    /* background-color: darkgrey; */
    /* border: .05x solid black; */
}

a:hover{
    color: whitesmoke;
}

hr {
    margin: 20px auto;
}

nav, footer p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    background-color: black;
    color: whitesmoke;
}

nav{
    margin: 120px;
}

main {
    background-color: darkgray;
    min-height: 650px;
}

#book-pile {
    display: flex;
    height: 150px;
    margin: 50px auto;
}

#entry-link{
    margin: 30px auto;
    border: .05px solid black;
    color:black;
    text-decoration: none;
    width: 35%;
    /* background-color: darkgrey; */
    /* border: .05x solid black; */
}

#entry-link:hover {
    background-color: darkgray;
}

#bookDetails{
   line-height: 1.5;
   margin: 20px auto 0px;
    
}

#search-page-title{
    background-color: rgb(63, 60, 60);
    color: whitesmoke;
    text-align: center;
    height: 50px;
    padding-top: 20px;;
}


#search-criteria{
    background-color: rgb(226,226,226);
    margin: 50px auto 0px;
    height: 40px;
    text-align: left;
    padding: 10px;
    width: 75%;
    border: none;

}

#search-button, #entry-button{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    height: 40px;
    width: 80%;
    margin: 15px auto;    
}

footer {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}
